body{
    background-color: bisque;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
#showQuestion{
    font-size: 2rem;

}
Button{
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(59, 245, 59);
    font-size: 2rem;
    color: white;
}

