* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #333;
}

body.light {
  background: #f7f7f7;
  color: #333;
}

body.dark {
  background: #121212;
  color: #f1f1f1;
}

body.dark header {
  background: #1e1e1e;
  border-bottom: 1px solid #333;
}

body.dark .product-card {
  background: #2a2a2a;
  border-color: #444;
}

body.dark button {
  background: #333;
  color: #fff;
  border-color: #555;
}


header {
  padding: 16px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

main {
  padding: 16px;
}


#controls {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

#controls input,
#controls select,
#controls button {
  padding: 8px 12px;
  font-size: 14px;
}

#productContainer {
  /* margin-top: 20px; */
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px; 
}

#productContainer.grid-view {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#productContainer.list-view {
  grid-template-columns: 1fr;
}

.product-card {
  background: #f88a8a;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  
}
.product-card img{
  height: 150px;  /* Change from 10% to fixed height */
  width: 100%;
  object-fit: contain; 
}

.product-card h3 {
  font-size: 16px;
}

.product-card p {
  font-size: 14px;
  color: #555;
}
.list-view .product-card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


button {
  cursor: pointer;
  border: 1px solid #ccc;
  background: #fff;
}

button:hover {
  background: #eee;
}
